
    <style>
        /* Breadcrumbs styling */
        .breadcrumbs {
            padding: 0 40px 0 40px;
        }

        /* Default Styles */
        .section.hero-contact {
            background-color: #000;
            color: #fff;
            text-align: left; /* Ensure the title is left-aligned */
        }

        /* Center the form and set the max width */
        .form {
            background-color: #000; /* Default Black background */
            color: #fff; /* White text color for contrast */
            padding: 40px; /* Increased padding around the form */
            border-radius: 8px; /* Optional: rounded corners */
            max-width: 600px; /* Maximum width for the form */
            margin: 0 auto; /* Center the form */
        }

        /* Apply white text specifically to form titles */
        .form h1, .form h2, .form h3, .form label {
            color: #fff;
        }
    </style>
</head>
<body>

    {{breadcrumbs}}

    <section id="main-content" class="section hero-contact">
        <div class="hero-inner">
            <h1 class="intro-title-contact">{{t 'submit_a_request'}}</h1>
            <h2 class="visibility-hidden">{{ t 'search' }}</h2>
        </div>
    </section>

    <div class="container-divider"></div>

    <div class="container">
        <div class="sub-nav"></div>
        <div id="main-content" class="form">
            <div id="new-request-form"></div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const params = new URLSearchParams(window.location.search);
            const ticketFormId = params.get('ticket_form_id');

            if (ticketFormId) {
                fetch(`/api/v2/ticket_forms/${ticketFormId}.json`)
                    .then(response => response.json())
                    .then(data => {
                        const formName = data.ticket_form.name;
                        updatePageStyles(ticketFormId, formName);
                    })
                    .catch(() => {
                        console.error('Error fetching the form data');
                        updatePageStyles(ticketFormId, 'Submit a Request');
                    });
            }
        });

        function updatePageStyles(ticketFormId, formTitle) {
            const heroElement = document.querySelector('.hero-contact');
            const formElement = document.querySelector('.form');

            document.querySelector('.intro-title-contact').innerText = formTitle;

            // Apply styles to hero section and form based on form ID
            switch(ticketFormId) {
                case '15525136863132':
                    heroElement.style.backgroundColor = '#0092cb';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#0092cb';
                    formElement.style.color = '#ffffff';
                    break;
                case '15525228238620':
                    heroElement.style.backgroundColor = '#C7DAE7';
                    heroElement.style.color = '#000000';
                    formElement.style.backgroundColor = '#C7DAE7';
                    formElement.style.color = '#000000';
                    applyTextColor(formElement, '#000000');  // Apply text color to all text within the form
                    break;
                case '15525177480220':
                    heroElement.style.backgroundColor = '#061b2b';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#061b2b';
                    formElement.style.color = '#ffffff';
                    break;
                default:
                    heroElement.style.backgroundColor = '#000000';
                    heroElement.style.color = '#ffffff';
                    formElement.style.backgroundColor = '#000000';
                    formElement.style.color = '#ffffff';
                    break;
            }

            // Apply styles to the form container
            formElement.style.padding = '40px'; // Ensure sufficient padding
            formElement.style.borderRadius = '8px'; // Optional: rounded corners
        }

        // Helper function to apply text color to all child elements within the form
        function applyTextColor(element, color) {
            element.querySelectorAll('h1, h2, h3, p, label, span, div').forEach(function(child) {
                child.style.color = color;
            });
        }
    </script>

    <script type="module">
        import { renderNewRequestForm } from "new-request-form";

        const container = document.getElementById("new-request-form");

        const settings = {{json settings}};

        const props = {
            requestForm: {{json new_request_form}},
            newRequestPath: {{json (page_path 'new_request')}},
            parentId: {{json parent.id}},
            parentIdPath: {{json parent.url}},
            locale: {{json help_center.locale}},
            baseLocale: {{json help_center.base_locale}},
            hasAtMentions: {{json help_center.at_mentions_enabled}},
            userRole: {{json user.role}},
            brandId: {{json brand.id}},
            wysiwyg: true,
            answerBotModal: {
                answerBot: {{json answer_bot}},
                hasRequestManagement: {{json help_center.request_management_enabled}},
                isSignedIn: {{json signed_in}},
                helpCenterPath: {{json (page_path 'help_center')}},
                requestsPath: {{json (page_path 'requests')}},
                requestPath: {{json (page_path 'request' id=answer_bot.request_id)}}
            },
        };

        renderNewRequestForm(settings, props, container);
    </script>

